![title](dataset-cover.jpg)

Let's load our file as usual:

In [15]:
import pandas
pokemon_data=pandas.read_csv('pokemon.csv')

let's see the head of our data

In [16]:
pokemon_data.head()

,name,attack,classfication,defense,japanese_name,height_m,weight_kg,hp,speed,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,against_flying,type1,type2,against_fight,generation,is_legendary
0,Bulbasaur,49,Seed Pokémon,49,Fushigidaneフシギダネ,0.7,6.9,45,45,1.0,...,88.1,1,65,65,2.0,grass,poison,0.5,1,0
1,Ivysaur,62,Seed Pokémon,63,Fushigisouフシギソウ,1.0,13.0,60,60,1.0,...,88.1,2,80,80,2.0,grass,poison,0.5,1,0
2,Venusaur,100,Seed Pokémon,123,Fushigibanaフシギバナ,2.0,100.0,80,80,1.0,...,88.1,3,122,120,2.0,grass,poison,0.5,1,0
3,Charmander,52,Lizard Pokémon,43,Hitokageヒトカゲ,0.6,8.5,39,65,1.0,...,88.1,4,60,50,1.0,fire,NaN,1.0,1,0
4,Charmeleon,64,Flame Pokémon,58,Lizardoリザード,1.1,19.0,58,80,1.0,...,88.1,5,80,65,1.0,fire,NaN,1.0,1,0

let's think about what each row means.
each row in our data represents a pokemon, let's examine the first pokemon with the following line:

In [18]:
pokemon_data.loc[0]

name                                   Bulbasaur
attack                                        49
classfication                       Seed Pokémon
defense                                       49
japanese_name                   Fushigidaneフシギダネ
height_m                                     0.7
weight_kg                                    6.9
hp                                            45
speed                                         45
against_ghost                                  1
against_grass                               0.25
against_ground                                 1
against_ice                                    2
against_normal                                 1
against_poison                                 1
against_psychic                                2
against_rock                                   1
against_steel                                  1
against_water                                0.5
against_bug                                    1
base_egg_steps                              5120
base_happiness                                70
base_total                                   318
capture_rate                                  45
against_dark                                   1
against_dragon                                 1
experience_growth                        1059860
against_fairy                                0.5
against_fire                                   2
against_electric                             0.5
abilities            ['Overgrow', 'Chlorophyll']
percentage_male                             88.1
pokedex_number                                 1
sp_attack                                     65
sp_defense                                    65
against_flying                                 2
type1                                      grass
type2                                     poison
against_fight                                0.5
generation                                     1
is_legendary                                   0
Name: 0, dtype: object

That's a detailed describtion of the first pokemon, we can examine a single atttribute, like the name for example like that:

In [8]:
pokemon_data.loc[0,'name']

'Bulbasaur'

we can see what attribute each row has by the following command:

In [19]:
pokemon_data.columns

Index(['name', 'attack', 'classfication', 'defense', 'japanese_name',
       'height_m', 'weight_kg', 'hp', 'speed', 'against_ghost',
       'against_grass', 'against_ground', 'against_ice', 'against_normal',
       'against_poison', 'against_psychic', 'against_rock', 'against_steel',
       'against_water', 'against_bug', 'base_egg_steps', 'base_happiness',
       'base_total', 'capture_rate', 'against_dark', 'against_dragon',
       'experience_growth', 'against_fairy', 'against_fire',
       'against_electric', 'abilities', 'percentage_male', 'pokedex_number',
       'sp_attack', 'sp_defense', 'against_flying', 'type1', 'type2',
       'against_fight', 'generation', 'is_legendary'],
      dtype='object')

That's alot of columns, next lesson we'll see how we can focus our attention to a specific part of the data!

# Tuples

In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar. 

In this section, we will get a brief overview of the following:

    1.) Constructing Tuples
    2.) Basic Tuple Methods
    3.) Immutability
    4.) When to Use Tuples.

You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

## Constructing Tuples

The construction of a tuples use () with elements separated by commas. For example:

In [5]:
# Can create a tuple with mixed types
t = (1,2,3)

In [6]:
# Check len just like a list
len(t)

3

In [8]:
# Can also mix object types
t = ('one',2)

# Show
t

('one', 2)

In [4]:
# Use indexing just like we did in lists
t[0]

'one'

In [11]:
# Slicing just like a list
t[-1]

2

## Basic Tuple Methods

Tuples have built-in methods, but not as many as lists do. Lets look at two of them:

In [12]:
# Use .index to enter a value and return the index
t.index('one')

0

In [13]:
# Use .count to count the number of times a value appears
t.count('one')

1

## Immutability

It can't be stressed enough that tuples are immutable. To drive that point home:

In [14]:
t[0]= 'change'

TypeError: 'tuple' object does not support item assignment

Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.

In [15]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

## When to use Tuples

You may be wondering, "Why bother using tuples when they have fewer available methods?" To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then tuple become your solution. It provides a convenient source of data integrity.

You should now be able to create and use tuples in your programming as well as have an understanding of their immutability.

Up next Files!