![title](dataset-cover.jpg)

In [2]:
import pandas
pokemon_data=pandas.read_csv('pokemon.csv')

We'll do what we did in the previous lesson, and focus our attention to a smaller part of the dataset:

In [3]:
pokemon_data[['name','classfication','defense','japanese_name','weight_kg','hp','speed']]

,name,classfication,defense,japanese_name,weight_kg,hp,speed
0,Bulbasaur,Seed Pokémon,49,Fushigidaneフシギダネ,6.9,45,45
1,Ivysaur,Seed Pokémon,63,Fushigisouフシギソウ,13.0,60,60
2,Venusaur,Seed Pokémon,123,Fushigibanaフシギバナ,100.0,80,80
3,Charmander,Lizard Pokémon,43,Hitokageヒトカゲ,8.5,39,65
4,Charmeleon,Flame Pokémon,58,Lizardoリザード,19.0,58,80
5,Charizard,Flame Pokémon,78,Lizardonリザードン,90.5,78,100
6,Squirtle,Tiny Turtle Pokémon,65,Zenigameゼニガメ,9.0,44,43
7,Wartortle,Turtle Pokémon,80,Kameilカメール,22.5,59,58
8,Blastoise,Shellfish Pokémon,120,Kamexカメックス,85.5,79,78
9,Caterpie,Worm Pokémon,35,Caterpieキャタピー,2.9,45,45
10,Metapod,Cocoon Pokémon,55,Transelトランセル,9.9,50,30
11,Butterfree,Butterfly Pokémon,50,Butterfreeバタフリー,32.0,60,70
12,Weedle,Hairy Pokémon,30,Beedleビードル,3.2,40,50
13,Kakuna,Cocoon Pokémon,50,Cocoonコクーン,10.0,45,35
14,Beedrill,Poison Bee Pokémon,40,Spearスピアー,29.5,65,145
15,Pidgey,Tiny Bird Pokémon,40,Poppoポッポ,1.8,40,56
16,Pidgeotto,Bird Pokémon,55,Pigeonピジョン,30.0,63,71
17,Pidgeot,Bird Pokémon,80,Pigeotピジョット,39.5,83,121
18,Rattata,Mouse Pokémon,35,Korattaコラッタ,NaN,30,72
19,Raticate,Mouse Pokémon,70,Rattaラッタ,NaN,75,77
20,Spearow,Tiny Bird Pokémon,30,Onisuzumeオニスズメ,2.0,40,70
21,Fearow,Beak Pokémon,65,Onidrillオニドリル,38.0,65,100
22,Ekans,Snake Pokémon,44,Arboアーボ,6.9,35,55
23,Arbok,Cobra Pokémon,69,Arbokアーボック,65.0,60,80
24,Pikachu,Mouse Pokémon,40,Pikachuピカチュウ,6.0,35,90
25,Raichu,Mouse Pokémon,50,Raichuライチュウ,NaN,60,110
26,Sandshrew,Mouse Pokémon,90,Sandサンド,NaN,50,40
27,Sandslash,Mouse Pokémon,120,Sandpanサンドパン,NaN,75,65
28,Nidoran♀,Poison Pin Pokémon,52,Nidoran?ニドラン♀,7.0,55,41
29,Nidorina,Poison Pin Pokémon,67,Nidorinaニドリーナ,20.0,70,56
...,...,...,...,...,...,...,...
771,Type: Null,Synthetic Pokémon,95,Type: Nullタイプ：ヌル,120.5,95,59
772,Silvally,Synthetic Pokémon,95,Silvadyシルヴァディ,100.5,95,95
773,Minior,Meteor Pokémon,60,Metenoメテノ,40.0,60,120
774,Komala,Drowsing Pokémon,65,Nekkoaraネッコアラ,19.9,65,65
775,Turtonator,Blast Turtle Pokémon,135,Bakugamesバクガメス,212.0,60,36
776,Togedemaru,Roly-Poly Pokémon,63,Togedemaruトゲデマル,3.3,65,96
777,Mimikyu,Disguise Pokémon,80,Mimikkyuミミッキュ,0.7,55,96
778,Bruxish,Gnash Teeth Pokémon,70,Hagigishiriハギギシリ,19.0,68,92
779,Drampa,Placid Pokémon,85,Jijilongジジーロン,185.0,78,36
780,Dhelmise,Sea Creeper Pokémon,100,Dadarinダダリン,210.0,70,40
781,Jangmo-o,Scaly Pokémon,65,Jyarakoジャラコ,29.7,45,45
782,Hakamo-o,Scaly Pokémon,90,Jyarangoジャランゴ,47.0,55,65
783,Kommo-o,Scaly Pokémon,125,Jyararangaジャラランガ,78.2,75,85
784,Tapu Koko,Land Spirit Pokémon,85,Kapu-kokekoカプ・コケコ,20.5,70,130
785,Tapu Lele,Land Spirit Pokémon,75,Kapu-tetefuカプ・テテフ,18.6,70,95
786,Tapu Bulu,Land Spirit Pokémon,115,Kapu-bululカプ・ブルル,45.5,70,75
787,Tapu Fini,Land Spirit Pokémon,115,Kapu-rehireカプ・レヒレ,21.2,70,85
788,Cosmog,Nebula Pokémon,31,Cosmogコスモッグ,0.1,43,37
789,Cosmoem,Protostar Pokémon,131,Cosmovumコスモウム,999.9,43,37
790,Solgaleo,Sunne Pokémon,107,Solgaleoソルガレオ,230.0,137,97
791,Lunala,Moone Pokémon,89,Lunalaルナアーラ,120.0,137,97
792,Nihilego,Parasite Pokémon,47,Uturoidウツロイド,55.5,109,103
793,Buzzwole,Swollen Pokémon,139,Massivoonマッシブーン,333.6,107,79
794,Pheromosa,Lissome Pokémon,37,Pheroacheフェローチェ,25.0,71,151
795,Xurkitree,Glowing Pokémon,71,Denjyumokuデンジュモク,100.0,83,83
796,Celesteela,Launch Pokémon,103,Tekkaguyaテッカグヤ,999.9,97,61
797,Kartana,Drawn Sword Pokémon,131,Kamiturugiカミツルギ,0.1,59,109
798,Guzzlord,Junkivore Pokémon,53,Akuzikingアクジキング,888.0,223,43
799,Necrozma,Prism Pokémon,101,Necrozmaネクロズマ,230.0,97,79
800,Magearna,Artificial Pokémon,115,Magearnaマギアナ,80.5,80,65

lets put the smaller dataset in a variable so it's easier to work with

In [5]:
smaller_dataset=pokemon_data[['name','classfication','defense','japanese_name','weight_kg','hp','speed']]

In [6]:
smaller_dataset.min()

name                     Abomasnow
classfication    Abundance Pokémon
defense                          5
japanese_name        Abagouraアバゴーラ
weight_kg                      0.1
hp                               1
speed                            5
dtype: object

In [7]:
smaller_dataset.max()

name                             Zygarde
classfication          Zen Charm Pokémon
defense                              230
japanese_name    Zygarde (10% Forme)ジガルデ
weight_kg                          999.9
hp                                   255
speed                                180
dtype: object

these are the minimum and maximum values! we can see that there's a pokemon with hp=1, and another with weight =0.1 kg! to find out which pokemon is that, tune in for the next lesson!

# Comparison Operators 

In this lecture we will be learning about Comparison Operators in Python. These operators will allow us to compare variables and output a Boolean value (True or False). 

If you have any sort of background in Math, these operators should be very straight forward.

First we'll present a table of the comparison operators and then work through some examples:

## Table of Comparison Operators

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

Let's now work through quick examples of each of these.

####Equal

In [3]:
2 == 2

True

In [4]:
1 == 0

False

#### Not Equal

In [5]:
2 != 1

True

In [6]:
2 != 2

False

In [7]:
2 <> 1

True

In [8]:
2 <> 2

False

#### Greater Than

In [9]:
2 > 1

True

In [10]:
2 > 4

False

#### Less Than

In [11]:
2 < 4

True

In [12]:
2 < 1

False

#### Greater Than or Equal to

In [13]:
2 >= 2

True

In [14]:
2 >= 1

True

#### Less than or Equal to

In [15]:
2 <= 2

True

In [16]:
2 <= 4

True

**Great! Go over each comparison operator to make sure you understand what each one is saying. But hopefully this was straightforward for you**

Next we will cover chained comparison operators