![title](dataset-cover.jpg)

In [1]:
import pandas
pokemon_data=pandas.read_csv('pokemon.csv')
smaller_dataset=pokemon_data[['name','classfication','defense','japanese_name','weight_kg','hp','speed']]

in the previous lesson, we discovered that there's a pokemon with weight equal to 0.1 kg, let's find out who that pokemon is

In [2]:
smaller_dataset.min()

name                     Abomasnow
classfication    Abundance Pokémon
defense                          5
japanese_name        Abagouraアバゴーラ
weight_kg                      0.1
hp                               1
speed                            5
dtype: object

to access the pokemon with an attribute equal to a certain value, you will have to write a statement like that:

In [3]:
smaller_dataset[smaller_dataset['weight_kg']==0.1]

,name,classfication,defense,japanese_name,weight_kg,hp,speed
91,Gastly,Gas Pokémon,30,Ghosゴース,0.1,30,80
92,Haunter,Gas Pokémon,45,Ghostゴースト,0.1,45,95
668,Flabébé,Single Bloom Pokémon,39,Flabebeフラベベ,0.1,44,42
788,Cosmog,Nebula Pokémon,31,Cosmogコスモッグ,0.1,43,37
797,Kartana,Drawn Sword Pokémon,131,Kamiturugiカミツルギ,0.1,59,109

Oh! it's Gastly and Haunter, it makes sense that they're weightless!

the previous statment might seem weird to you, but you will get used to it!
here's another example to see which pokemon have hp equal to 1

In [4]:
smaller_dataset[smaller_dataset['hp']==1]

         name classfication  defense japanese_name  weight_kg  hp  speed
291  Shedinja  Shed Pokémon       45   Nukeninヌケニン        1.2   1     40

it's Shedinja

get used to these kinds of commands, practice them abit and you'll get used to them!

# Introduction to Python Statements

In this lecture we will be doing a quick overview of Python Statements. This lecture will emphasize differences between Python and other languages such as C++. 

There are two reasons we take this approach for learning the context of Python Statements:

    1.) If you are coming from a different language this will rapidly accelerate your understanding of Python.
    2.) Learning about statements will allow you to be able to read other languages more easily in the future.

## Python vs Other Languages

Let's create a simple statement that says:
"If a is greater than b, assign 2 to a and 4 to b"

Take a look at these two if statements (we will learn about building out if statements soon).

**Version 1 (Other Languages)**

    if (a>b){
        a = 2;
        b = 4;
    }
                        
**Version 2 (Python)**   

    if a>b:
        a = 2
        b = 4

You'll notice that Python is less cluttered and much more readable than the first version. How does Python manage this?

Let's walk through the main differences:

Python gets rid of () and {} by incorporating two main factors: a *colon* and *whitespace*. The statement is ended with a colon, and whitespace is used (indentation) to describe what takes place in case of the statement.

Another major difference is the lack of semicolons in Python. Semicolons are used to denote statement endings in many other languages, but in Python, the end of a line is the same as the end of a statement.

Lastly, to end this brief overview of differences, let's take a closer look at indentation syntax in Python vs other languages:

## Indentation

Here is some pseudo-code to indicate the use of whitespace and indentation in Python:

**Other Languages**

    if (x)
        if(y)
            code-statement;
    else
        another-code-statement;
        
**Python**
    
    if x:
        if y:
            code-statement
    else:
        another-code-statement

Note how Python is so heavily driven by code indentation and whitespace. This means that code readability is a core part of the design of the Python language.

Now let's start diving deeper by coding these sort of statements in Python!

## Time to code!